@font-face {
  font-family: "Inconsolata";
  src: url(assets/fonts/Inconsolata-VariableFont_wdth_wght.ttf);
}

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);

  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);

  --Gradient: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

  --White-transparent: hsla(0, 0%, 100%, 8%);
  --White-transparent-hover: hsla(0, 0%, 100%, 20%);

  --Extrabold: 700;
  --Bold: 700;
  --Medium: 400;
  --Regular: 300;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inconsolata", sans-serif;
  font-size: 2rem;
  color: var(--Neutral-300);
  background-color: var(--Neutral-900);
  background-image: url(assets/images/pattern-squiggly-line-bottom-desktop.svg),
    url(assets/images/pattern-squiggly-line-top.svg),
    url(assets/images/background-desktop.png);
  background-size: auto, auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, right top 13%, center;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  padding-bottom: 13.4rem;
}

.hidden {
  display: none;
}

.header {
  margin-bottom: 6.5rem;
}

.main {
  max-width: 89.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--Neutral-0);
  font-size: 6rem;
  line-height: 110%;
  letter-spacing: -0.01rem;
  font-weight: var(--Extrabold);
  text-align: center;
  margin-bottom: 2rem;
}

.text {
  font-size: 2.4rem;
  font-weight: var(--Medium);
  line-height: 120%;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-bottom: 4.5rem;
}

.form {
  width: 46rem;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.form label,
.form__label-file {
  font-size: 2rem;
  font-weight: var(--Medium);
  color: var(--Neutral-0);
  line-height: 120%;
  letter-spacing: -0.05rem;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.form .form__custom-file {
  margin-bottom: 0;
}

.form input {
  outline: none;
  background-color: var(--White-transparent);
  backdrop-filter: blur(5px);
  border: 0.1rem solid var(--Neutral-500);
  height: 5.4rem;
  border-radius: 1.2rem;
  padding: 1.6rem;
  color: var(--Neutral-0);
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: var(--Regular);
  font-family: "Inconsolata";
}

.form__input-file {
  background-color: var(--White-transparent);
  backdrop-filter: blur(5px);
  border: 0.1rem dashed var(--Neutral-500);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.9rem;
  gap: 1.6rem;
}

.form input:hover,
.form__input-file:hover {
  background-color: var(--White-transparent-hover);
}

.form input:focus,
.form input:focus ~ .form__custom-file .form__input-file,
.button:focus {
  outline: 1.5px solid var(--Neutral-0);
  outline-offset: 3px;
}

.form input.error,
.form input.error ~ .form__custom-file .form__input-file {
  border: 0.1rem solid var(--Orange-500);
}

.form__input-file figure {
  width: 5rem;
  height: 5rem;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--Neutral-700);
  background-color: var(--White-transparent);
  backdrop-filter: blur(24px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__preview-file {
  width: 5rem;
  height: 5rem;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--Neutral-700);
  background-size: cover;
  background-position: center;
}

.form__buttons-file {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.form__buttons-file span {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--White-transparent);
  backdrop-filter: blur(24px);
  color: var(--Neutral-0);
  font-size: 1.2rem;
  font-weight: var(--Regular);
  line-height: 120%;
  letter-spacing: -0.02rem;
  cursor: pointer;
}

.form__buttons-file span:hover {
  text-decoration: underline;
}

.form__text-file {
  color: var(--Neutral-300);
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: var(--Regular);
}

.form input::placeholder {
  color: var(--Neutral-300);
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: var(--Regular);
  font-family: "Inconsolata";
}

.form input[type="file"] {
  height: 0;
  width: 0;
  opacity: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.button {
  height: 5.4rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--Orange-500);
  color: var(--Neutral-900);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.03rem;
  font-weight: var(--Extrabold);
  cursor: pointer;
}

.button:hover {
  background-color: var(--Orange-700);
}

.form__message {
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: -0.02rem;
  font-weight: var(--Regular);
  padding-top: 1.2rem;
}

.form__message--help {
  color: var(--Neutral-300);
}

.form__message--error {
  color: var(--Orange-500);
}

/* .form input.error ~ .form__message--help {
  display: none;
}

.form input.error ~ .form__message--error {
  display: inline-block;
} */

/* Ticket Page */

.heading strong {
  background-image: var(--Gradient);
  background-clip: text;
  color: transparent;
  font-weight: inherit;
}

.generated-ticket .text {
  max-width: 51.4rem;
}

.text strong {
  font-weight: inherit;
  color: var(--Orange-500);
}

.ticket {
  width: 60rem;
  height: 28rem;
  background-image: url(assets/images/pattern-ticket.svg);
  background-size: cover;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.ticket__data {
  display: grid;
  grid-template-columns: min-content auto;
  row-gap: 1.2rem;
  column-gap: 2rem;
}

.ticket__heading {
  font-size: 4rem;
  font-weight: var(--Bold);
  line-height: 110%;
  letter-spacing: -0.1rem;
  color: var(--Neutral-0);
}

.ticket__date {
  font-size: 1.8rem;
  line-height: 120%;
  color: var(--Neutral-300);
  grid-column: 2 / 3;
}

.ticket__id {
  position: absolute;
  right: 0;
  top: 45%;
  transform: rotateZ(90deg);
  color: var(--Neutral-500);
  font-size: 3rem;
  font-weight: var(--Medium);
  line-height: 110%;
  letter-spacing: -0.1rem;
}

.ticket__user-data {
  display: flex;
  gap: 1.6rem;
}

.ticket__user-data figure {
  width: 8rem;
  height: 8rem;
  background-position: center;
  background-size: cover;
  border-radius: 1.2rem;
}

.ticket__user-info {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.ticket__user-heading {
  font-size: 3rem;
  font-weight: var(--Medium);
  line-height: 110%;
  letter-spacing: -0.01rem;
}

.ticket__user-links a {
  text-decoration: none;
}

@media screen and (max-width: 1106px) {
  body {
    background-size: 44rem, 30rem, auto;
  }
}

@media screen and (max-width: 512px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 442px) {
  html {
    font-size: 45%;
  }

  body {
    background-size: 30rem, 30rem, auto;
  }
}
