@font-face {
  font-family: 'Inconsolata';
  src: url(assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf);
}

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);

  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);

  --Gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);

  
  --White-transparent: hsla(0, 0%, 100%, 8%);
  --White-transparent-hover: hsla(0, 0%, 100%, 20%);

  --Extrabold: 700;
  --Medium: 400;
  --Regular: 300;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inconsolata', sans-serif;
  font-size: 2rem;
  color: var(--Neutral-300);
  background-color: var(--Neutral-900);
  background-image: url(assets/images/pattern-squiggly-line-bottom-desktop.svg), url(assets/images/pattern-squiggly-line-top.svg), url(assets/images/background-desktop.png);
  background-size:  auto, auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, right top 13%, center ;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.header {
  margin-bottom: 6rem;
}

.main {
  max-width: 89.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--Neutral-0);
  font-size: 6rem;
  line-height: 110%;
  letter-spacing: -.01rem;
  font-weight: var(--Extrabold);
  text-align: center;
  margin-bottom: 2rem;
}

.text {
  font-size: 2.4rem;
  font-weight: var(--Medium);
  line-height: 120%;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-bottom: 4.5rem;
}

.form {
  width: 46rem;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.form label,
.form__label-file {
  font-size: 2rem;
  font-weight: var(--Medium);
  color: var(--Neutral-0);
  line-height: 120%;
  letter-spacing: -0.05rem;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.form .form__custom-file {
  margin-bottom: 0;
}

.form input {
  outline: none;
  background-color: var(--White-transparent);
  backdrop-filter: blur(5px);
  border: .1rem solid var(--Neutral-0);
  height: 5.4rem;
  border-radius: 1.2rem;
  padding: 1.6rem;
  color: var(--Neutral-0);
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: var(--Regular);
  font-family: 'Inconsolata';
}

.form__input-file {
  background-color: var(--White-transparent);
  backdrop-filter: blur(5px);
  border: .1rem dashed var(--Neutral-0);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.9rem;
  gap: 1.6rem;
  cursor: pointer;
}

.form input:hover,
.form__input-file:hover {
  background-color: var(--White-transparent-hover);
}

.form input:focus,
.form input:focus ~ .form__custom-file .form__input-file,
.button:focus {
  outline: 1.5px solid var(--Neutral-0);
  outline-offset: 3px;
}

.form input.error,
.form input.error ~ .form__custom-file .form__input-file {
  border: .1rem solid var(--Orange-500);
}

.form__input-file figure {
  width: 5rem;
  height: 5rem;
  border-radius: 1.2rem;
  border: .1rem solid var(--Neutral-700);
  background-color: var(--White-transparent);
  backdrop-filter: blur(24px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__text-file {
  color: var(--Neutral-300);
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: var(--Regular);
}

.form input::placeholder {
  color: var(--Neutral-300);
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: var(--Regular);
  font-family: 'Inconsolata';
}

.form input[type="file"] {
  height: 0;
  width: 0;
  opacity: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.button {
  height: 5.4rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--Orange-500);
  color: var(--Neutral-900);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -.03rem;
  font-weight: var(--Extrabold);
  cursor: pointer;
}

.button:hover {
  background-color: var(--Orange-700);
}

.form__message {
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: -.02rem;
  font-weight: var(--Regular);
  padding-top: 1.2rem;
}

.form__message--help {
  color: var(--Neutral-300);
}

.form__message--error {
  color: var(--Orange-500);
  display: none;
}

.form input.error ~ .form__message--error,
.form input.error ~ .form__message--error {
  display: inline-block;
}
